---
---
@import "main";

/* Tüm makale resimlerini otomatik boyutlandır ve ortala */
article img {
  display: block !important;
  margin: 2rem auto !important;
  max-width: 600px !important; /* Resimlerin genişliğini burada sabitleyebilirsin */
  width: 100% !important;
  height: auto !important;
  border-radius: 10px;
}